.wrapper{position:relative}
.sidebar-left{background-color:#222d32;margin:0;border:none;border-radius:0}
.sidebar-menu{list-style:none;margin:0;padding:0}
.sidebar-menu a{color:#b8c7ce;text-decoration:none}
.sidebar-menu > li{position:relative;margin:0;padding:0}
.sidebar-menu > li > a{padding:12px 5px 12px 15px;display:block;border-left:3px solid transparent}
.sidebar-menu > li > a > 
.fa{width:20px}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a{color:#fff;background:#1e282c;border-left-color:#3c8dbc}
.sidebar-menu > li > 
.treeview-menu{margin:0 1px;background:#2c3b41}
.sidebar-menu > li 
.label,.sidebar-menu > li
.badge{margin-top:3px;margin-right:5px}
.sidebar-menu li
.header{padding:10px 25px 10px 15px;font-size:12px;color:#4b646f;background:#1a2226}
.sidebar-menu li > a > 
.fa-angle-left{width:auto;height:auto;padding:0;margin-right:10px;margin-top:3px}
.sidebar-menu li
.active > a >
.fa-angle-left{transform:rotate(-90deg)}
.sidebar-menu li.active > .treeview-menu{display:block}
.sidebar-menu .treeview-menu{display:none;list-style:none;padding:0;margin:0;padding-left:5px}
.sidebar-menu .treeview-menu .treeview-menu{padding-left:20px}
.sidebar-menu .treeview-menu > li{margin:0}
.sidebar-menu .treeview-menu > li > a{padding:5px 5px 5px 15px;display:block;font-size:14px;color:#8aa4af}
.sidebar-menu .treeview-menu > li > a > .fa{width:20px}
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,.sidebar-menu .treeview-menu > li > a > .fa-angle-down{width:auto}
.sidebar-menu .treeview-menu > li.active > a,.sidebar-menu .treeview-menu > li > a:hover{color:#fff}@media (min-width:768px){.sidebar-left{position:absolute;top:43px;left:0;bottom:0;width:200px;height:100%;z-index:2016}.sidebar-left .navbar-header{float:none}.sidebar-left .navbar-collapse{padding:0}.content{position:relative;margin-left:200px;height:100%;min-height:100%}}
.pure-table-pure-table-horizontal th , tr,td {
    border: 1px solid #8c8c8c47;
   padding: 0.5em;
}
.pure-table-pure-table-horizontal th{
  border: 1px solid #8c8c8c47;
  text-align:center;
}


.bg-gradient {
background: #C9D6FF;
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
background: linear-gradient(to right, #E2E2E2, #C9D6FF);
} 
ul li {
  margin-bottom:1.4rem;
}
.pricing-divider {
border-radius: 20px;
background: #C64545;
padding: 1em 0 4em;
position: relative;
}
.blue .pricing-divider{
background: #2D5772; 
}
.green .pricing-divider {
background: #1AA85C; 
}
.red b {
  color:#C64545
}
.blue b {
  color:#2D5772
}
.green b {
  color:#1AA85C
}
.pricing-divider-img {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 80px;
}
.deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.btn-custom  {
  background:#C64545; color:#fff; border-radius:20px
}

.img-float {
  width:50px; position:absolute;top:-3.5rem;right:1rem
}

.princing-item {
  transition: all 150ms ease-out;
}
.princing-item:hover {
  transform: scale(1.05);
}
.princing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.princing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}
.boxbox {
  box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  font-size: 18px;
  margin: 20px 20px 50px 20px;
  color: #ffffff;
  border-radius: 5px;
}
.box-green {
  background-color: #9ABC32;
}
.box-red {
  background: #d53f40;
}
.box-orange {
  background: #E8B110;
}
.box-blue {
  background: #6FB3E0;
}
.wraper_1 {
  /*padding: 5px 15px;*/
}
.padd_0 {
  padding: 0px!important;
}
.bao {
    padding: 10px;
    border: 1px solid #3c3c3c45;
    float: right !important;
    background-color: #ffffff;
    margin: 64px 35px 0px 0;
    border-radius: 7px;
}
.green_ {
  background-color: #9ABC32!important;
  color: #ffffff;
}
.red_ {
  background-color: #d53f40!important;
  color: #ffffff;
}
.blue_ {
  background-color: #6FB3E0!important;
  color: #ffffff;
}
.orange_ {
  background-color: #E8B110!important;
  color: #ffffff;
}
.table_boder>thead>tr>th {
     border: 1px solid #ddd!important;
}
.tbody_pad>tr>td {
    padding: 7px 0;
}
/* phần lịch*/
.badge {
      background-color: #247fa9!important;
}
.taonhomnv_hover:hover {
  border-color: #a03b03 !important;
  background-color: #a03b03 !important;
}

